body {
  font-family: "Segoe UI", Arial, sans-serif;
  background-color: rgb(126, 120, 120);
  display: flex;
  justify-content: center;
  align-items: flex-start;

}


caption {
  background-color: #1a1a2e;
  color: #ffffff;
  
  font-weight: bold;
 
 
}

thead th {
  background-color: #000000;
  color: #fff;
 

}




td:first-child {
  background-color: #001f3f;
  color: #fff;
  font-weight: bold;
}


.aplicaciones { background-color: #d6eaf8; }       
.programacion { background-color: #d5f5e3; }       
.seguridad { background-color: #fcf3cf; }          
.servicios { background-color: #ebdef0; }          
.sor { background-color: #a9cce3; }                
.digitalizacion { background-color: #fdebd0; }     
.sostenibilidad { background-color: #abebc6; }     
.ingles { background-color: #fadbd8; }            
.iti { background-color: #f9e79f; }               
.recreo { background-color: #f5b7b1; font-weight: bold; }







td span a {
  visibility: hidden;
 
  color: #154360;
  text-decoration: none;
  font-weight: bold;
  display: inline-block;

}

td:hover span a {
  visibility: visible;
  opacity: 1;
}



