* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



header {
    background-image: url('2.webp');
    background-position: center center;
    background-size: cover; 
    background-repeat: no-repeat;
    padding: 100px 0; 
    text-align: center;
    color: white;
    
}

header img {
    width: 250px;
    border-radius: 10%;
    background-color: #000000;
}

header h1 {
    color: #006d63;
     font-size: 30px;
    max-width: 600px;
    margin: auto;
    background-color: #e6f7f5;

   
}

header p {
    color: #006d63;
    font-size: 18px;
    max-width: 600px;
    margin: auto;
    background-color: #e6f7f5;
}

.separator {
    width: 100%;
    height: 2px;
    background-color: #ccc;
    margin-top: 30px;
}

.cuadricula{
    display: grid;
    grid-template-columns: 60% 40%;
    grid-template-areas: 
    "con_b con_a"
    "idiomas bottom_right";
    gap: 24px;
    padding: 20px 20px;
}

.languages{
    grid-area: idiomas;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
}

.extra {
    grid-area: Habilidades Personales;
    background-color: #bbe4ff;
    padding: 40px;
    border-radius: 8px;

}

.interests{
   grid-area: auto;
   padding-top: 20px;
}

main {
    grid-area: con_b;
    padding: 20px;
    background-color: white;
    min-height: 100vh;

}

main h2 {
    color: #000000;
    font-size: 24px;
    margin-bottom: 25px;
   
}



main p {
    margin-top: 10px;
    line-height: 1.6;
    font-size: 17px;
    padding: 20px;
}


aside {
    grid-area: con_a;
    background-color: #f0f7f5;
    padding: 20px 20px;
}

aside h2 {
    color: #1f6b63;
    margin-bottom: 20px;
    padding: 20px;
}

.bottom-right {
    grid-area: bottom_right;
    background-color: #f0f7f5;
    padding: 20px;
    border-radius: 8px;
}

footer {
    grid-area: footer;
    background-color: #00a393;
    color: white;
    text-align: center;
    padding: 20px;
}

nav ul{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style-type: none;
    gap: 12px; 
}


nav a:focus {
    display: flex;
    align-items: center;
    gap: 8px;               
    padding: 8px 14px;
    background-color: #e6f7f5;
    color: #006d63;
    border-radius: 8px;
    text-decoration: none;
    font-weight: 600;

}





